$rcs_width: 250px;
$rcs_btn_height: 35px;
$rcs_select_items_height: 200px;

@import 'react-select-or-create';

@import 'close-menu-button';
@import 'create-item';
@import 'dropdown-menu';
@import 'open-menu-button';
@import 'search-input';
@import 'select-items';
